<h4>Employee {{ empName }}, {{ mode }} Successfully</h4>
<br />

<div class="wrapper">
  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
    <path
      class="checkmark__check"
      fill="none"
      d="M14.1 27.2l7.1 7.2 16.7-16.8"
    />
  </svg>
</div>

<div *ngIf="mode === 'Added' || mode === 'Updated'">
  <button
    type="button"
    ngbAutofocus
    class="btn btn-success"
    style="margin-left: 40%"
    (click)="onClick()"
  >
    Home
  </button>
</div>
<div>
  <button
    type="button"
    *ngIf="mode === 'Deleted'"
    ngbAutofocus
    class="btn btn-success"
    style="margin-left: 40%"
    (click)="matDialog.closeAll()"
  >
    Ok
  </button>
</div>
